[submodule "services/auth"]
    path = services/auth
    url = git@github.com:beartrando/tic-tac-toe-auth.git
[submodule "services/gateway"]
    path = services/gateway
    url = git@github.com:beartrando/tic-tac-toe-gateway.git
[submodule "services/profile"]
    path = services/profile
    url = git@github.com:beartrando/tic-tac-toe-profile.git
[submodule "services/bot"]
    path = services/bot
    url = git@github.com:beartrando/tic-tac-toe-bot.git
[submodule "services/battle"]
    path = services/battle
    url = git@github.com:beartrando/tic-tac-toe-battle.git
[submodule "services/engine"]
    path = services/engine
    url = git@github.com:beartrando/tic-tac-toe-engine.git
[submodule "services/front"]
    path = services/front
    url = git@github.com:beartrando/tic-tac-toe-front.git
[submodule "services/orchestration"]
    path = services/orchestration
    url = git@github.com:beartrando/tic-tac-toe-orchestration.git
[submodule "services/streaming"]
    path = services/streaming
    url = git@github.com:beartrando/tic-tac-toe-streaming.git
[submodule "proto"]
    path = proto
    url = git@github.com:beartrando/tic-tac-toe-proto.git
[submodule "context"]
    path = docs/wiki
    url = git@github.com:beartrando/lenvora-context.git
[submodule "wiki"]
    path = docs/wiki
    url = git@github.com:beartrando/lenvora-wiki.git
[submodule "workflow"]
    path = docs/workflow
    url = git@github.com:beartrando/lenvora-workflow.git
[submodule "make"]
    path = docs/workflow
    url = git@github.com:beartrando/make.git
[submodule "shared/logger"]
    path = shared/logger
    url = git@github.com:beartrando/logger.git
[submodule "shared/errors"]
    path = shared/errors
    url = git@github.com:beartrando/errors.git
[submodule "shared/kafka-manager"]
    path = shared/kafka-manager
    url = git@github.com:beartrando/kafka-manager.git
[submodule "shared/grpc-client-manager"]
    path = shared/grpc-client-manager
    url = git@github.com:beartrando/grpc-client-manager.git
[submodule "shared/pg-boss-manager"]
    path = shared/pg-boss-manager
    url = git@github.com:beartrando/pg-boss-manager.git
