services:

  nginx:
    image: nginx:stable
    container_name: game-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./services/nginx/html:/usr/share/nginx/html:ro
      - ./services/nginx/conf.d:/etc/nginx/conf.d:ro
    networks:
      - backend

#  mongo:
#    image: mongo:8
#    container_name: game-mongo
#    restart: always
#    ports:
#      - "27017:27017"
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: mongo
#      MONGO_INITDB_ROOT_PASSWORD: mongo
#      MONGO_INITDB_DATABASE: game
#    volumes:
#      - mongo_data:/data/db
#    networks:
#      - backend
#    healthcheck:
#      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#      start_period: 10s
#
#  mailpit:
#    image: axllent/mailpit
#    container_name: game-mailpit
#    ports:
#      - 8025:8025
#      - 1025:1025
#    environment:
#      MP_WEBROOT : "/mailpit/"
##      MP_SMTP_AUTH_ACCEPT_ANY: 1
#      MP_SMTP_AUTH_ALLOW_INSECURE: 1
#      MP_SMTP_AUTH: "login:pass"
#      MP_MAX_MESSAGES: 5000
#    volumes:
#      - /data
#    networks:
#      - backend
#    restart: always
#    healthcheck:
#      test: ["CMD", "redis-cli", "ping"]
#      interval: 30s
#      timeout: 10s
#      retries: 5


networks:
  backend:
    external: true
