services:

  nginx:
    image: nginx:stable
    container_name: game-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./services/nginx/html:/usr/share/nginx/html:ro
      - ./services/nginx/conf.d:/etc/nginx/conf.d:ro

